---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const committees = await getCollection("committees");
---

<Layout title="Committees">
    <h2>Committees</h2>
    <ul>
        {
            committees.map((committee) => (
                <li>
                    <h3>{committee.data.name}</h3>
                    <p>
                        <a astro-preload href={`/committees/${committee.slug}`}>Click</a>
                    </p>
                </li>
            ))
        }
    </ul>
</Layout>
