---
interface Props {
    title?: string;
}

const { title: title2 } = Astro.props;
const title = `${title2 || "Avontuur aan de Horizon"} - AEGEE-Delft`;
---

<title>{title}</title>
<meta name="author" content="AEGEE-Delft" />
<meta
    name="description"
    content="AEGEE-Delft's OWee website! Adventure at the horizon!"
/>

<meta
    property="og:title"
    content="AEGEE-Delft OWee: Avontuur aan de Horizon!"
/>
<meta
    property="og:description"
    content="Een avontuur aan de horizon! Kom langs en misschien vind jij wel een mooi avontuur aan de horizon!"
/>
